*,
*::before*::after {
  box-sizing: border-box;
}
.el-upload {
  width: 100%;
}
.el-tag--dark {
    font-size: 16px;
  border: none;
  box-shadow: 0 2px 2px rgb(0 0 0 / 12%), 0 0 3px rgb(0 0 0 / 4%);
}
#default {
  background-position: center center;
  background-size: cover;
}
.user-detail {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    position: relative;
    h1 {
      position: absolute;
      left: 50%;
      top: -20px;
      transform: translateX(-50%);
      width: 100px;
      height: 100px;
      margin: auto;
      overflow: hidden;
      border-radius: 50%;
      border: 1px solid #dcdfe6;
      img {
        width: 100%;
        height: 100%;
      }
    }
    h2 {
      text-align: center;
      font-size: 20px;
      padding-top: 70px;
      font-family: KaiTi;
    }
    h3 {
      padding-top: 20px;
      font-size: 16px;
      text-align: center;
    }
    .links {
      margin: 20px 10px 10px;
      display: flex;
      justify-content: space-between;
      a {
        display: block;
        text-decoration: none;
        font-size: 40px;
      }
    }
  }